.App {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 2rem 4rem;
}

#Header {
  font-size: 70px;
}

#Tagline {
  font-size: 50px;
}

#Create-A-Playlist-Btn {
  background-color: #1db954;
  font-size: 30px;
  margin: 40px 0 0 0;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 40px;
}

#Author-Footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 40% 0 4rem 10rem;
  font-size: 20px;
}

#Prompt {
  font-size: 70px;
  margin: 46.9px 0 25px 0;
}

#Response {
  font-size: 50px;
  width: 60vw;
  border: none;
}

#Next-Btn {
  background-color: #1db954;
  font-size: 30px;
  margin: 40px 0 0 0;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 40px;
}

#Create-Prompt {
  font-size: 70px;
}

#Build-My-Playlist-Btn {
  background-color: #1db954;
  font-size: 30px;
  margin: 20px 0 0 0;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 40px;
}

#Success-Msg {
  font-size: 70px;
}

#View-My-Playlist-Btn {
  background-color: #1db954;
  font-size: 30px;
  margin: 20px 0 0 0;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 40px;
}

#New-Playlist-Btn {
  background-color: #1db954;
  font-size: 30px;
  margin: 20px 0 0 0;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 40px;
}