.App {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 2rem 4rem;
}

#Header {
  font-size: 70px;
}

#Tagline {
  font-size: 50px;
}

#Create-A-Playlist-Btn {
  background-color: #1db954;
  font-size: 30px;
  margin: 40px 0 0 0;
  padding: 15px 50px;
  font-weight: bold;
  border-radius: 40px;
}

#Author-Footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 40% 0 4rem 10rem;
  font-size: 20px;
}